---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Pantagruel Research
  </div>
  <div class="inline opacity-75">
    Quantitative Finance & Machine Learning
  </div>
</footer>
<style></style>
