---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base" id="blog" href="/blog/">Articles</a></li>
    <li><a class="py-3 text-base" id="projects" href="/projects">Research</a></li>
    <li><a class="py-3 text-base" id="services" href="/services">Topics</a></li>
    <li><a class="py-3 text-base" id="store" href="/store">Resources</a></li>
    <li><a class="py-3 text-base" id="cv" href="/cv">About</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:contact@pantagruel-research.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
